---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import RelatedPostsCard from "@components/RelatedPostsCard.astro";
import FormattedDate from "@components/FormattedDate.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <main>
    <article class="prose mx-auto dark:prose-invert">
      <img src={post.data.cover} alt={post.data.coverAlt}>
      <div class="prose-h1 text-center">
        <h1 class="underline decoration-blue-600">{post.data.title}</h1>
      </div>
      <div class="flex text-xl justify-between font-bold">
        <small
          >Publicado el <FormattedDate date={post.data.pubDate}/> por <b><u>{post.data.author}</u></b>
          </small
        >
      </div>
        <div class="prose-img:rounded-lg">
          {
            post.data.cover && (
              <OptimizedCover src={post.data.cover} alt={post.data.coverAlt} />
            )
          }
        </div>
        <div>
          <Content />
        </div>
        <div class="prose-a:no-underline">
          {
            post.data.tags.map((tag) => (
              <span class="mb-2 mr-2 inline-block rounded-full bg-neutral-300 px-3 py-1 text-lg hover:bg-sky-500 ">
                <a href={`/tags/${tag}/1/`}>{tag}</a>
              </span>
            ))
          }
        </div>
    </article>
    <div class="mt-4">
      <RelatedPostsCard
        currentCategory={post.data.category[0]}
        currentSlug={post.slug}
      />
    </div>
  </main>
</BaseLayout>
