---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Pagination from "@components/Pagination.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
import Newsletter from "@components/Newsletter.astro";
import Carrousel from "@components/Carrousel.astro";
import { GoogleAnalytics } from '@next/third-parties/google'
import YtCard from "@components/YtCard.astro";
import CookiesBanner from "@components/CookiesBanner.astro";

const allPosts = await getCollection("posts");
allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);

const postsPerPage = 16;
const totalPages = Math.ceil(allPosts.length / postsPerPage);

const basePath = "/page/";
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
<GoogleAnalytics gaId="G-Z70LX1R9TK" />
<body>

  <Carrousel />
  
  <CookiesBanner />

  <Pagination
    currentPage={1}
    lastPage={totalPages}
    urlPrev={null}
    urlNext={totalPages > 1 ? `/page/2` : null}
    basePath={basePath}
    maxDisplayedPages={50}
  />

  <YtCard />
<Newsletter />
</BaseLayout>
</body>
