---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Pagination from "@components/Pagination.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
import Newsletter from "@components/Newsletter.astro";
import Carrousel from "@components/Carrousel.astro";
import { GoogleAnalytics } from '@next/third-parties/google'
import YtCard from "@components/YtCard.astro";
import CookiesBanner from "@components/CookiesBanner.astro";

const allPosts = await getCollection("posts");
allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);

const postsPerPage = 16;
const totalPages = Math.ceil(allPosts.length / postsPerPage);

const basePath = "/page/";
---
<head>

  <link rel="icon" type="image" href="/img/logos solo de ida/logo azul1.png" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/global.css" rel="stylesheet">
  <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
  <meta charset="UTF-8" />
  <meta name="keywords" content="Blog, Viajes, Turismo, Blog de viajes, Blogger, Solo de ida, Solo de ida blog, Solo de ida blog de viajes">
  <meta name="google-site-verification" content="0ebKWyvQPqUxeWVfXYecrV-SEWi_Kg7xRZ4evZVbiIU" />

  <GoogleAnalytics gaId="G-Z7OLX1R9TK" />
</head>


<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>

<body>

  <Carrousel />
  
  <CookiesBanner />

  <Pagination
    currentPage={1}
    lastPage={totalPages}
    urlPrev={null}
    urlNext={totalPages > 1 ? `/page/2` : null}
    basePath={basePath}
    maxDisplayedPages={50}
  />

  <YtCard />
<Newsletter />
</BaseLayout>
</body>
  
