---
import type { CollectionEntry } from "astro:content";
import OptimizedCover from "@components/OptimizedPicture.astro";
import FormattedDate from "@components/FormattedDate.astro";


interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div
class="relative overflow-hidden rounded-xl bg-gray-300 transition-transform duration-500 hover:-translate-y-1 hover:scale-105 dark:bg-neutral-900 border-2 border-b-orange-700"
>
<a href={`/posts/${post.slug}/`} class="block">
  <img src={post.data.cover} alt={post.data.coverAlt} class="hover:opacity-90"/>
  <div class=" bottom-0 end-0 start-0 bg-gray-300 p-5 md:p-6">
      <a href=`/category/${post.data.category}/1/`>
        {post.data.category}
      </a>
      <div class="mt-4 flex items-center gap-4 text-xs text-black">
        <FormattedDate date={post.data.pubDate} />
      </div>
      <h3 class="mt-2 text-xl font-bold text-black">{post.data.title}</h3>
      <h4 class="mt-2 text-medium font-bold text-black">{post.data.description}</h4>
    </div>
  </a>
</div>
