---
import type { CollectionEntry } from "astro:content";
import OptimizedCover from "@components/OptimizedPicture.astro";
import FormattedDate from "@components/FormattedDate.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

function truncateUTF8String(str: string, maxBytes: number) {
  let byteCount = 0;
  let index = 0;
  while (index < str.length && byteCount < maxBytes) {
    const char = str.charCodeAt(index);
    if (char > 0x7ff) {
      byteCount += 3;
    } else if (char > 0x7f) {
      byteCount += 2;
    } else {
      byteCount += 1;
    }
    if (byteCount <= maxBytes) index++;
    else break;
  }
  return str.slice(0, index) + (index < str.length ? "..." : "");
}

const truncatedDescription = truncateUTF8String(post.data.description, 150);
---

<div
  class="mt-8 mb-4 relative overflow-hidden bg-neutral-200 transition-transform duration-1000 hover:scale-110 md:flex md:flex-row dark:border-neutral-600 dark:bg-neutral-900"
>
  <a href={`/posts/${post.slug}/`} class="block md:flex md:flex-1">
    <div class="md:w-2/3">
      <img src={post.data.cover} alt={post.data.coverAlt} class="hover:opacity-90"/>
    </div>
    <div
    class="border-4 border-b-orange-500  bottom-0 end-0 start-0 bg-neutral-200  p-4 md:relative md:flex md:w-1/3 md:flex-col md:justify-start md:bg-transparent md:p-5"
    >
    <div class="mt-4 flex items-center gap-4 text-xs text-black md:text-neutral-900 dark:text-white">
      <h1 class="font-bold text-xl bg-sky-800 rounded-full p-2 text-white">{post.data.category.join(" ")}</h1>
      <FormattedDate date={post.data.pubDate} />
    </div>
    <h3 class="mt-4 text-xl font-bold text-black md:text-neutral-900 dark:text-white">
      {post.data.title}
    </h3>
    <p class="mt-4 text-black md:text-neutral-900 dark:text-white">
      {truncatedDescription}
    </p>
    <div class="mt-32 flex font-bold items-center gap-0 text-xs md:text-neutral-900 dark:text-white">
      <span>{post.data.tags.join(" ")}</span>
    </div>
  </div>
</div>
</a>