---
// filepath: /c:/Users/chino/astroverse-2/src/components/Pagination.astro
import { Icon } from "astro-icon/components";

export interface Props {
  currentPage: number;
  lastPage: number;
  urlPrev: string | null;
  urlNext: string | null;
  basePath: string;
  maxDisplayedPages: number;
}

const {
  currentPage,
  lastPage,
  urlPrev,
  urlNext,
  basePath,
  maxDisplayedPages = 10,
} = Astro.props;

const startPage = Math.max(
  1,
  Math.min(
    currentPage - Math.floor(maxDisplayedPages / 2),
    lastPage - maxDisplayedPages + 1,
  ),
);
const endPage = Math.min(lastPage, startPage + maxDisplayedPages - 1);

function ensureTrailingSlash(path: string) {
  return path.endsWith("/") ? path : `${path}/`;
}

const computedBasePath = basePath ? ensureTrailingSlash(basePath) : "/page/";
---

<nav
  class="mt-8 mb-4 flex items-center justify-center gap-x-2"
  aria-label="Pagination"
>
  {urlPrev ? (
    <a
      href={ensureTrailingSlash(urlPrev)}
      aria-label="Previous page"
      class="inline-flex items-center justify-center rounded-lg px-3 py-2 text-sm font-medium text-blue-600 bg-white border border-blue-300 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:text-white dark:bg-blue-800 dark:border-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-600"
    >
      <Icon name="tabler:chevron-left" class="w-5 h-5" />
    </a>
  ) : null}
  <ul class="flex items-center gap-x-2">
    {Array.from({ length: endPage - startPage + 1 }, (_, i) => {
      const pageNumber = startPage + i;
      const isActive = currentPage === pageNumber;
      const pageClass = `inline-flex items-center justify-center rounded-lg px-3 py-2 text-sm font-medium transition-colors duration-300 ${
        isActive
          ? "bg-blue-600 text-white border border-transparent"
          : "text-blue-600 bg-white border border-blue-300 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:text-white dark:bg-blue-800 dark:border-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-600"
      }`;
      return (
        <li >
          <a
            href={`${computedBasePath}${pageNumber}/`}
            class={pageClass}
            aria-current={isActive ? "page" : undefined}
          >
            {pageNumber}
          </a>
        </li>
      );
    })}
  </ul>
  {urlNext ? (
    <a
      href={ensureTrailingSlash(urlNext)}
      aria-label="Next page"
      class="inline-flex items-center justify-center rounded-lg px-3 py-2 text-sm font-medium text-blue-600 bg-white border border-blue-300 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:text-white dark:bg-blue-800 dark:border-blue-700 dark:hover:bg-blue-700 dark:focus:ring-blue-600"
    >
      <Icon name="tabler:chevron-right" class="w-5 h-5" />
    </a>
  ) : null}
</nav>